In [1]:
from TradingSystems.Strategy1 import Strategy1
from Broker.Broker import Broker
ts = Strategy1([[]],[["AAPL.csv","csv"]],"TestSystem","TradingSystem",3,Broker("Test","Test"),"D")

None

In [2]:
ts.createSignal()
ts.getSignalDf()

            Date        Open        High         Low       Close       Volume  \
0     1990-01-02    0.252479    0.268595    0.250689    0.266804  228368930.0
1     1990-01-03    0.272176    0.272176    0.268595    0.268595  259279780.0
2     1990-01-04    0.273967    0.277548    0.266804    0.269490  276131360.0
3     1990-01-05    0.270386    0.273967    0.265014    0.270386  153716560.0
4     1990-01-08    0.268595    0.272176    0.265014    0.272176  126617220.0
...          ...         ...         ...         ...         ...          ...
8004  2021-10-07  143.060000  144.215000  142.720000  143.290000   61732656.0
8005  2021-10-08  144.030000  144.178100  142.560000  142.900000   58773156.0
8006  2021-10-11  142.270000  144.810000  141.810000  142.810000   64452220.0
8007  2021-10-12  143.230000  143.250000  141.040100  141.510000   73035860.0
8008  2021-10-13  141.235000  141.400000  139.200000  140.910000   78762720.0

          Turnover  Unadjusted Close  Dividend      20_SMA      50_SMA  \
0     6.092982e+07            37.250       0.0    0.266804    0.266804
1     6.964125e+07            37.500       0.0    0.267700    0.267700
2     7.441473e+07            37.625       0.0    0.268297    0.268297
3     4.156275e+07            37.750       0.0    0.268819    0.268819
4     3.446220e+07            38.000       0.0    0.269490    0.269490
...            ...               ...       ...         ...         ...
8004  8.869865e+09           143.290       0.0  144.814500  147.454318
8005  8.415117e+09           142.900       0.0  144.511000  147.403876
8006  9.263807e+09           142.810       0.0  144.174000  147.347240
8007  1.036863e+10           141.510       0.0  143.843500  147.271394
8008  1.104730e+10           140.910       0.0  143.437500  147.146803

      Signal  Position  Short_Signal  Long_Signal
0          0       0.0           NaN          NaN
1          0       0.0           NaN          NaN
2          0       0.0           NaN          NaN
3          0       0.0           NaN          NaN
4          0       0.0           NaN          NaN
...      ...       ...           ...          ...
8004       0       0.0           NaN          NaN
8005       0       0.0           NaN          NaN
8006       0       0.0           NaN          NaN
8007       0       0.0           NaN          NaN
8008       0       0.0           NaN          NaN

[8009 rows x 15 columns]

,Date,Open,High,Low,Close,Volume,Turnover,Unadjusted Close,Dividend,20_SMA,50_SMA,Signal,Position,Short_Signal,Long_Signal
0,1990-01-02,0.252479,0.268595,0.250689,0.266804,228368930.0,6.092982e+07,37.250,0.0,0.266804,0.266804,0,0.0,NaN,NaN
1,1990-01-03,0.272176,0.272176,0.268595,0.268595,259279780.0,6.964125e+07,37.500,0.0,0.267700,0.267700,0,0.0,NaN,NaN
2,1990-01-04,0.273967,0.277548,0.266804,0.269490,276131360.0,7.441473e+07,37.625,0.0,0.268297,0.268297,0,0.0,NaN,NaN
3,1990-01-05,0.270386,0.273967,0.265014,0.270386,153716560.0,4.156275e+07,37.750,0.0,0.268819,0.268819,0,0.0,NaN,NaN
4,1990-01-08,0.268595,0.272176,0.265014,0.272176,126617220.0,3.446220e+07,38.000,0.0,0.269490,0.269490,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8004,2021-10-07,143.060000,144.215000,142.720000,143.290000,61732656.0,8.869865e+09,143.290,0.0,144.814500,147.454318,0,0.0,NaN,NaN
8005,2021-10-08,144.030000,144.178100,142.560000,142.900000,58773156.0,8.415117e+09,142.900,0.0,144.511000,147.403876,0,0.0,NaN,NaN
8006,2021-10-11,142.270000,144.810000,141.810000,142.810000,64452220.0,9.263807e+09,142.810,0.0,144.174000,147.347240,0,0.0,NaN,NaN
8007,2021-10-12,143.230000,143.250000,141.040100,141.510000,73035860.0,1.036863e+10,141.510,0.0,143.843500,147.271394,0,0.0,NaN,NaN
8008,2021-10-13,141.235000,141.400000,139.200000,140.910000,78762720.0,1.104730e+10,140.910,0.0,143.437500,147.146803,0,0.0,NaN,NaN

In [1]:
import schedule
import datetime
import time

def job():
    print("I'm working...")


now = datetime.datetime.now()
print(((((5-(now.minute % 5))-1) * 60) + (60-now.second))/60)
#time.sleep((((5-(now.minute % 5))-1) * 60) + (60-now.second))
print("test")
#schedule.every(5).minutes.do(job)

while False:
    schedule.run_pending()
    time.sleep(1)

3.9833333333333334
test

In [2]:
def synchonizerMinute(timeFrame):
    # Alles über h1 funktioniert nicht
    now = datetime.datetime.now()
    print(((((timeFrame-(now.minute % timeFrame))-1) * 60) + (60-now.second))/60)
    time.sleep(((((timeFrame-(now.minute % timeFrame))-1) * 60) + (60-now.second)))

def startScheduler(timeFrame, weekend_trading=False):
    if (not weekend_trading) and datetime.datetime.today().weekday() >=  5:
        now = datetime.datetime.now()
        if now.hours == 23:
            if now.minute <= 50:
                time.sleep((now.minute - 1) * 60)
            else:
                print("System startet gleich")
                ## System wird gleich starten
        else: 
            time.sleep((24-now.hours-1) * 60*60)
    elif (datetime.datetime.today().weekday() < 5) or weekend_trading:
        print("set")
        scheduler.enter(60*timeFrame, 1, print_event, ('first',))

In [3]:
import sched
import time

scheduler = sched.scheduler(time.time, time.sleep)

def print_event():
    print ('EVENT:', datetime.datetime.now())
    startScheduler(5)

timeFrame = 5
print (datetime.datetime.today().weekday())
now = datetime.datetime.now()
print(((((5-(now.minute % 5))-1) * 60) + (60-now.second))/60)
print("fertig")
synchonizerMinute(timeFrame)
scheduler.enter(60*timeFrame, 1, print_event, ())


scheduler.run()
print("test")

2
3.9833333333333334
fertig
3.9833333333333334
EVENT: 2021-11-17 00:35:00.458364
set